.todoContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 5px;
  width: 676px;
}

.todoContainer__error {
  margin-top: 8px;
  color: rgb(211, 72, 72);
}

#mainTitle {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}
